body {
    display:flex ;
    background-color: lightgreen;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    margin: 0;
    
}

ul{
    list-style-type: none;
    padding: 0;
  }

